---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 0
---

<div class="airbnb-embed-frame" data-id="52578066" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/52578066?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/52578066?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Home in Vergennes · ★4.76 · 1 bedroom · 1 bed · 1 private bath</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
<div class="airbnb-embed-frame" data-id="52577799" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/52577799?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/52577799?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Home in Vergennes · ★4.68 · 1 bedroom · 1 bed · 1.5 baths</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
<div class="airbnb-embed-frame" data-id="52578416" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/52578416?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/52578416?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Home in Vergennes · ★4.87 · 1 bedroom · 1 bed · 1 shared bath</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
<div class="airbnb-embed-frame" data-id="52578225" data-view="home" style="width:450px;height:300px;margin:auto"><a href="https://www.airbnb.com/rooms/52578225?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/52578225?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Home in Vergennes · ★4.89 · 1 bedroom · 2 beds · 1 shared bath</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>


{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
